@{
    ViewData["Title"] = "Admin only area";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <img src="/images/admin.png" style="float:right;width:100px;" />
    <p>
        This page is restricted to users with the admin role.
        <br />...you must be pretty awesome, since you're here :).
    </p>
</div>