@{
    ViewData["Title"] = "Private area";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h4>Autenticated users only </h4>

    <img src="/images/authenticated_user.png" style="float:right;width:100px;" />
    <p>
        This page has private information and is only accessible to authenticated users.
    </p>
</div>
