@{
    ViewData["Title"] = "Access denied";
}

<h1>Access denied</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        You are not authorized to be here.
        <br />If you want access, you need to log in with the correct credentials to be authorized.
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
