@{
    ViewData["Title"] = "Access denied";
}

<h1>Access denied</h1>
<hr />
<div class="row bg-danger text-light">
    <div class="col-md-12">
        You are seeing this page, because you are logged in as an authenticated user, but you don't have the correct credentials (role) to be on this specific page.'
        <br />In other words: you are authorized, but not authorized to be HERE 😊.
        <br />If you want access, you need to log in with the correct credentials for this area.

    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to front page</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
